a {
    text-decoration: none;
    color: black;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 5% 7px 5%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    transition: all 0.5s;
}

body.dark nav {
    background-color: rgba(0, 0, 0, 0.4);
    /* background-color: #333; */
}

.left_nav {
    padding: 0 10px;
    border-bottom: 1px solid black;
}

.left_nav p {
    font-weight: 600;
    font-size: 20px;
    color: darkslategray;
    cursor: pointer;
    font-family: 'Open Sans';
}

body.dark .left_nav p {
    color: gold;
}

.right_nav {
    height: 35px;
    display: flex;
    align-items: center;
}

.nav_links {
    height: 100%;
    display: flex;
    align-items: center;
     padding: 8px 15px;
}
.nav_links ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav_links ul li {
    cursor: pointer;
    color: black;
}

body.dark .nav_links ul li {
    color: aliceblue;
}

.nav_links ul li:nth-child(4) {
    display: none;
}

.nav_links.ticket ul li:nth-child(4) {
    display: block;
}

.nav_links.ticket ul li:nth-child(1), .nav_links.ticket ul li:nth-child(2), .nav_links.ticket ul li:nth-child(3),  .nav_links.ticket ul li:nth-child(6){
    /* color: red; */
    display: none;
}

.theme_container {
    width: 60px;
    height: 25px;
    background-color: #000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
}

#indicator {
    position: absolute;
    top: 0;
    left: 1px;
    width: 25px;
    height: 25px;
    /* margin-left: 0.5px; */
    background-color: darkorange;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
}

#indicator.dark {
    left: calc(100% - 25px);
}

#sun {
    color: yellow;
}

#moon {
    color: white;
}

#menu_box {
    display: none;
    cursor: pointer;
    margin-bottom: 2px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    margin-left: 20px;
    margin-top: 3px;
    transition: all 0.5s;
}

body.dark .bar {
    background-color: gold;
}

